@import url("./styles.css");

#menu-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.menu-list > img {
    height: 40px;
    width: auto;
}

.menu-category {
    font-size: 1.1rem;
    font-family: "barlow";
    margin: 5px;
}

.menu-list {
    width: 150px;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-list > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin-top: 5px;
}

.menu-list li {
    margin: 0px;
}

.menu-list ul p {
    width: 150px;
    text-align: center;
    margin: 5px 0px;
    font-size: 1rem;
    font-family: "barlow";
    font-weight: 500;
}

