@font-face {
    font-family: "tangerine";
    src: url("./Tangerine/Tangerine-Regular.ttf");
}

* {
    --dark-gray: #151819;
    --medium-gray: #252A2D;
    --creamy-white: #F8F8ED;
    --gold: #FFD700;
}


body {
    margin: 0px;
    background-color: var(--creamy-white);
}

header {
    height: fit-content;
}

.img-container {
    height: fit-content;
    position: relative;
}

#res-name {
    background-color: var(--creamy-white);
    width: 200px;
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#res-name > p {
    margin: 5px;
    font-family: "tangerine";
    font-weight: bold;
    font-size: 2rem;
}

#heading {
    position: sticky;
    background-color: var(--medium-gray);
    color: var(--creamy-white);
    margin-top: -10px;
}

#header-img {
    height: auto;
    width:100vw;
}

#selection {
    display: flex;
    justify-content: center;
}

ul {
    border-color: blue;
    width:fit-content;
    display: flex;
    gap: 5px;
    padding: 0px;
}

li {
    list-style-type: none;
    width: 100px;
}

li > div {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li p {
    margin: 0px;
    text-align: center;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 0px;
    background-color: var(--medium-gray);
    color: var(--creamy-white);
}

footer > img {
    width: 20px;
    height: auto;
}